<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.rhythm.mapper.ArticleCatalogueMapper">
    <update id="update">
        update article_catalogue
        <set>
            <if test="numbers != null and numbers != ''">numbers = #{numbers},</if>
            <if test="contents != null and contents != ''">contents = #{contents},</if>
            <if test="positions != null and positions != ''">positions = #{positions}</if>
        </set>
        where article_id = #{articleId}
    </update>
    <select id="list" resultType="org.rhythm.entity.ArticleCategory">
        select * from article_categories
        where status = 1
    </select>
</mapper>
