<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.rhythm.mapper.UserMapper">
    <update id="update">
        update user
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="status != null">status = #{status},</if>
            <if test="coins != null">coins = #{coins},</if>
            <if test="diamonds != null">diamonds = #{diamonds},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
        where id = #{id}
    </update>

    <select id="pageQuery" resultType="org.rhythm.entity.User">
        select * from user
        <where>
            <if test="username != null and username != ''">
                username like concat('%',#{username},'%')
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>
